/* кнопка загальні властивості */
%button {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 13px 0;
  @include centeringFlex(inline-block);
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  font-weight: var(--font-weight-more);
  font-size: var(--font-size-more);
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-accent);
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--color-activ-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.hero__btn {
  @extend %button;
  padding: 10px 32px;
  min-width: 216px;
  line-height: 1.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* активна кнопка в герої*/

// Кнопка  підписатися у футорі
.btn-submit {
  @extend %button;
  @include centeringFlex();
  min-width: 200px;
  fill: currentColor;
  gap: 10px;
}

/* кнопки фільтр порфолио */
.btn-set {
  @include centeringFlex();
  margin-bottom: 50px;
  gap: 8px;
}

.btn-set__btn-filter {
  @extend %button;
  padding: 6px 22px;
  color: var(--color-secondary);
  background: var(--color-background-light);
  font-weight: var(--font-weight-less);
  line-height: 1.625;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--color-accent);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &:active {
    background-color: var(--color-activ-btn);
  }
}

/* кнопка відправки форми */
.form__submit {
  @extend %button;
  @include centeringFlex();
  min-width: 200px;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.875;
}
