// futer
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--color-brand);
}

.footer-conteiner {

@media screen and (max-width: 1199px) {
  text-align: center;
}
  
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
  gap: 93px;
  }
}

.footer-link {

margin-bottom: 60px;

  min-width: 208px;

  @media screen and (min-width: $desktop) {
  margin-bottom: 0;
  }
}

// address
.address {
  
  margin-top: 28px;

  &__item {
    margin-bottom: 12px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  flex-direction: column;
  justify-content: right;
  }
}

.address__reach {
  color: var(--color-white);
  font-style: normal;
  font-weight: inherit;
  font-size: var(--font-size-less);
  line-height: 1.143;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.address__contact {
  color: var(--color-contact-footer);
  font-style: normal;
  font-weight: inherit;
  font-size: var(--font-size-less);
  line-height: 1.143;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

// запрошення у футорі

.welcome-text {
  text-transform: uppercase;
  font-size: var(--font-size-less);
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin: 0;
  margin-bottom: 20px;
}

.social-bloc {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-left: 165px;
  }
   @media screen and (min-width: $desktop) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.form-footer {
  position: relative;
  @media screen and (min-width: $desktop) {
    @include centeringFlex();
  gap: 12px;
  }
}

.form-footer__input {
  width: 100%; 
  height: 50px;
  padding: 15px 16px;

  margin-bottom: 20px;
  
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: var(--font-size-more);
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;
  color: var(--color-white);

  &::placeholder {
    color: var(--color-contact-footer);
  }

  @media screen and (min-width: $tablet) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
max-width: 358px;
  margin-bottom: 0;
  }
}
