// heder

// контейнер для хедера
.header-line {
  position: relative;
  display: flex;
@media screen and (max-width: $tablet) {
  height: 60px;
}
}
// лінія унизу хедера
.top-line {
  background-color: var(--top-line-bg);
  border-bottom: 1px solid var(--color-header-border);
}