// heder
.top-line {
  background-color: var(--top-line-bg);
  border-bottom: 1px solid var(--color-header-border);
}

// контейнер для хедера
.header-line {
  display: flex;
  
}

.menu-btn {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  @include centeringFlex(inline-flex);
  cursor: pointer;
}
