// portfolio

// список робіт
.portfolio {

  @media screen and (min-width: $tablet) {
    display: flex;
  flex-wrap: wrap;
  gap: 30px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 450px;

    @media screen and (min-width: $tablet) {
  max-width: 354px;
  }

  @media screen and (min-width: $desktop) {
  max-width: 370px;
  }
  }

  // обкладинка
  &__cover {
    position: relative;
    overflow: hidden;
  }

  // опис роботи
  &__job-description {
    color: var(--color-white);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
  }

  &__text-content {
    flex-grow: 1;
    padding: 20px 24px;
    border: 1px solid var(--color-border-box);
    border-top: 0;
  }

  &__subtitle {
    color: var(--color-secondary);
    font-weight: var(--font-weight-more);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    white-space: wrap;
  }

  &__desc {
    margin-top: 4px;
    color: var(--color-primary);
    font-size: var(--font-size-more);
    line-height: 1.875;
    letter-spacing: 0.03em;
  }
}

.portfolio__box {
  transition: box-shadow 250ms var(--timing-function);

  @media screen and (max-width: $tablet) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

@media screen and (min-width: $tablet) {
  width: auto;
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 60px) / 3);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

// обкладинка
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-box);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  .portfolio__box:hover & {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    transform: translateY(0);
  }
}
