/* section */
.section {
  padding-top: 60px;
  padding-bottom: 60px;


   @media screen and (min-width: $mobile) {
    outline: 1px solid red;
  }

  @media screen and (min-width: $tablet) {
     outline: 1px solid green;
  }

  @media screen and (min-width: $desktop) {
     outline: 1px solid yellow;
     padding-top: 94px;
  padding-bottom: 94px;
  }

  &__title {
    margin-bottom: 50px;
    text-align: center;
    color: var(--color-secondary);
    font-weight: var(--font-weight-more);
    font-size: 36px;
    line-height: 1.2;
  }

  &__title--visually-hidden {
    @extend %visually-hidden;
  }

  &__subtitle {
    margin-bottom: 10px;
    text-align: center;

    color: var(--color-secondary);
    font-weight: var(--font-weight-more);
    font-size: var(--font-size-less);
    line-height: 1.143;

  }

  &__text {
    font-size: var(--font-size-less);
    line-height: 1.714;
  }
}
