/* Site nav*/
.site-nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    gap: 50px;
    
    @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 32px;
  }
  }

  &__item {
    text-decoration: unset;
    text-decoration-line: var(--color-accent);
  }
}

.site-nav__link {
  display: block;
  padding: 32px 0;
  color: var(--color-secondary);
  font-weight: var(--font-weight-less);
  font-size: var(--font-size-less);
  line-height: 1.143;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
  &.current {
    color: var(--color-accent);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

/* риска під посиланням навигації */
.current {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-accent);

    @media screen and (max-width: 767px) {
    display: none;
  }
  }
}
