/* спадкодавець */
body {
  background-color: $color-background;
  color: $color-primary;
  font-family: $font-family-primary;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
