/* спадкодавець */
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
