
  $font-family-primary: 'Roboto', sans-serif;
  $font-weight-more: 700;
  $font-weight-less: 500;
  $font-size-more: 16px;
  $font-size-less: 14px;

  // колор 
  $color-primary: #757575;
  $color-secondary: #212121;
  $color-brand: #2f303a;
  $color-img-portfolio__overlay: rgba(47, 48, 58, 0.4);
  $color-accent: #2196f3;
  $top-line-bg: #ffffff;
  $color-background: #ffffff;
  $color-background-light: #f5f4fa;
  $color-logo: #000000;
  $color-logo-link--light: #ffffff;
  $color-hero: #ffffff;
  $color-white: #ffffff;
  $color-activ-btn: #188ce8;
  $color-header-border: #ececec;
  $color-border-box: #eeeeee;
  $color-icon: #afb1b8;
  $color-contact-footer: rgba(255, 255, 255, 0.6);
  // анімація 
  $color-background-box: rgba(33, 150, 243, 0.9);
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // іконкі
  $fill-icon-dark: #212121;

  // форми
  $border-form: 1px solid rgba(33, 33, 33, 0.2);